<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                 <NotAuthorized>
                     <p role="alert">No está autorizado para realizar esta acción</p>                     
                    <RedirectToLogin />
                 </NotAuthorized>
            </AuthorizeRouteView>
            
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3>Esta dirección no existe dentro de 5 segundos sera Redirigido a Home</h3>
                <p role="alert">Porfavor evite navegar de manera riesgoza por el sistema o su usuario será bloqueado.</p>
            </LayoutView>
            <RedirectToHome/>
        </NotFound>

    </Router>
</CascadingAuthenticationState>
